<link rel="stylesheet" href='/css/home.css'>
<script src='/js/home.js'></script>
<!-- if user signed in then only show the question posting form -->
<% if(locals.user){ %>
    <form action="/question/create" class="entry" method="post" style="width: 90%;max-width: 900px;margin: 50px auto 100px;margin-top:8rem;">
        <input type="text" name="content" placeholder="Ask Anything..." style="width:100%;max-width: 900px;" class="write-something-entry">
        <button class="enter">Ask Question</button>
    </form>

    <% } %>

        <% if(!locals.user){ %> 
        <br>
        <br>
        <%}%>
        <% var d = new Date(); %>
        <%if(userData.length!=0){
        var i=1;
        <!-- nested loop to iterate over all he questions and other loop within to show the corresponding answers -->
        userData.forEach(function(data){%>
                <div class="container">
                    <div class="response-group">
                        <header>
                            <h2>
                                <strong><%= data.Name%> | </strong>
                                <strong> <%= data.Roll_Number%></strong>
                                
                                <i class="far fa-calendar-alt"></i><span><%= data.Creation_datetime %></span>
                                <!-- allow action btn when user logged in -->
                                <% if (locals.user && locals.user.rollnum == data.Roll_Number){ %>
                                    <a class="del" style="margin-left:0.5rem ;" href="/question/destroy/<%= data.Question_id %>"><i class="far fa-trash-alt"></i></a><% } %>
                   
                            </h2>
                        </header>
                        <div class="response">
                            <div class="response__number">
                                <%= i%>
                            </div>
                            <h1 class="response__title">
                                <%= data.Content%>
                                   
                            </h1>
                            <%if(answer.length!=0){
                            var j=1;
                            answer.forEach(function(dat){ 
                            %>
                            <!-- check to see answers correspond to question -->
                            <%if(dat.Question_id == data.Question_id){%>
                                    <div class="post-group">


                                        <div class="post">
                                            <div class="post__avatar">
                                                
                                            </div>
                                            <h3 class="post__author">
                                                <%=dat.Name%>
                                                <span> | </span>
                                                <%=dat.Roll_Number%>
                                                <!-- allow user to dlete the answer when logged in -->
                                                <% if (locals.user && locals.user.rollnum == dat.Roll_Number){ %>
                                                    <a  class="del" style="margin-left:18rem ;" href="/answer/destroy/<%= dat.Answer_id %>"><i class="far fa-trash-alt"></i></a><% } %>
                                   
                                            </h3>
                                            
                                            <h4 class="post__timestamp">
                                                <i class="far fa-calendar-alt"></i>
                                                <%=dat.Creation_datetime%>
                                            </h4>
                                            <p class="post__body">
                                                <%=dat.Content%>
                                            </p>

                                        </div>
                                    </div>
                                    <%}%>

                                        <%j++;})%>
                                            <% }else{ %>
                                                <h2>No Answers Found :(</h2>
                                                <%}%>

<!-- if user logged in then only show form to post answer to question -->
                                                    <% if(locals.user){ %>
                                                        <form action="/answer/create" method="post" style="margin-left:3.5rem;">
                                                            <input type="text" placeholder="Answer..." name="content" class="post__actions">

                                                            <input type="hidden" name="post" value='<%= data.Question_id%>'>
                                                            <button class="enter" id="special_button" style="width:130px;background-color: #212529;">Answer</button>
                                                        </form>
                                                        <% } %>

                        </div>
                    </div>
                </div>
                </div>
                <%i++;})%>
                    <% }else{ %>
                        <h1 >No Question Asked :(</h1>
                        <%}%>